*/build/
.clangd
*/CMakeFiles/

*/__pycache__/
# File extensions
*.txt
*.bin
*.out
*.gch
*.exe
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.synctex.gz
*.npy
*.orig

.*/ 
vgcore.*

convert_network
evaluate_network
network_architecture.txt

# Exceptions
!requirements.txt
